meta(charset="utf-8")

title GB
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="referrer" content="no-referrer")

meta(name="description" content="GB")
meta(name="robots" content="index, follow")

meta(property="og:title" content="GB")
meta(property="og:description" content="GB")
meta(property="og:url" content="https://geekbrains.ru/")
meta(property="og:type" content="website")
meta(property="og:image" content="/img/image.jpg")
meta(property="og:locale" content="ru_RU")

link(rel="manifest" type="application/manifest+json" href=require('../../manifest.webmanifest'))
link(rel="shortcut icon" type="image/x-icon" sizes="16x16" href=require('../../favicons/favicon.ico'))
link(rel="icon" type="image/x-icon" sizes="16x16" href=require('../../favicons/favicon.ico'))
link(rel="icon" type="image/png" sizes="16x16" href=require('../../favicons/favicon-16x16.png'))
link(rel="icon" type="image/png" sizes="32x32" href=require('../../favicons/favicon-32x32.png'))
link(rel="icon" type="image/svg+xml" sizes="any" href=require('../../favicons/favicon.svg'))
link(rel="apple-touch-icon" type="image/png" sizes="180x180" href=require('../../favicons/apple-touch-icon-180x180.png'))

meta(name="msapplication-TileColor", content="#ffffff")
meta(name="msapplication-TileImage", content=require('../../favicons/ms-icon-144x144.png'))

meta(name="theme-color" content="#ffffff")

meta(name="mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-title" content="GB")

link(rel="dns-prefetch" href="https://fonts.googleapis.com")
link(rel="dns-prefetch" href="https://fonts.gstatic.com")
link(rel="dns-prefetch" href="https://www.google.com")
link(rel="dns-prefetch" href="https://www.google-analytics.com")
link(rel="dns-prefetch" href="https://www.googletagmanager.com")

link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900&display=swap&subset=cyrillic" media="all")